{{>layouts/header}}

<!-- 드롭다운 추가 -->
<form method="get" action="/posts" class="mb-3">
    <label for="sort">정렬:</label>
    <select name="sort" id="sort" onchange="this.form.submit()">
        <option value="createdAt" {{#isCreatedSort}}selected{{/isCreatedSort}}>생성순</option>
        <option value="views" {{#isViewSort}}selected{{/isViewSort}}>조회순</option>
    </select>
</form>

<table class="table">
    <thead>
    <tr>
        <th>Id</th><th>Title</th><th>Content</th><th>Author</th><th>CreatedAt</th><th>Views</th>
    </tr>
    </thead>
    <tbody>
    {{#postList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/posts/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{author}}</td>
            <td>{{createdAt}}</td>
            <td>{{views}}</td>
        </tr>
    {{/postList}}
    </tbody>
</table>

<a href="/posts/new">New Post</a>
{{>layouts/footer}}
