{{>layouts/header}}

<h2>인기 게시글 Top 5</h2>
<table class="table">
    <thead>
    <tr>
        <th>Id</th><th>Title</th><th>Content</th><th>Author</th><th>CreatedAt</th><th>Views</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <th>{{id}}</th>
            <td><a href="/posts/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
            <td>{{author}}</td>
            <td>{{createdAt}}</td>
            <td>{{views}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/posts/new">New Article</a>

{{>layouts/footer}}
